body {
    font-family: Arial;
    padding: 5px;
    padding-top: 2em;
}

#header h1 { margin: 0; }
#header h2 { margin-top: 5px; }

span { display: inline-block; }

#header span {
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
}

#team, #event { text-align: right; }
#clock, #date { float: right; color: gray; }

.half { 
    display: block;
    width: 50%; 
    padding: 0 5px; 
    box-sizing: border-box;
    font-size: 20px;
}

.scroll {
    display: inline-block;
    max-height: 500px;
    overflow-y: scroll;
    width: 100%;
}

.left { text-align: right; float: left; }
.right { float: right; }

.half h2 {
    width: 75%;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.half.left h2 {
    float: right;
}

#matches {
    width: 75%;
    float: right;
    text-align: right;
    font-size: 20px;
    border-collapse: collapse;
    cursor: pointer;
}

#matches td {
    padding: 2px 0;
}

#matches tr:hover {
    background-color: lightblue;
}

.half h3 {
    margin: 0;
    font-weight: normal;
    font-size: 25px;
}

#schedule {}

td.time { color: gray; }

.red { color: #d01e30; }
.blue { color: #0066cc; }
