body {
    
    /* Page sizing. */
    width: 65%;
    min-width: 650px;
    margin: auto;
    
    /* Spacing. */
    margin-top: 2em;
    
    /* Font and appearance. */
    font-family: Open Sans;
    font-size: 14;
    color: #111;
    background-color: #F0F0F0;

}
