body {
    
    /* Page sizing. */
    width: 50%;
    min-width: 700px;
    margin: auto;
    
    /* Spacing. */
    margin-top: 5em;
    
    /* Font and appearance. */
    font-family: Open Sans;
    font-size: 14;
    color: #111;
    background-color: #F0F0F0;

}

#login {

    /* Margin. */
    margin-top: 8em;

    /* Text. */
    text-align: center;
    
}

.error { color: red; }
