body {
	font-family: Arial;
}

#content {
    width: 1000px;
    margin: 2em auto;
}

#content .columns { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	font-size: 20px;
}

#content .column { 
    width: 32%;
    background-color: #DDD; 
}

#content .stretch { 
    width: 100%; 
    display: inline-block; 
    font-size: 0; 
    line-height: 0; 
}

#content .right {
	display: block;
	float: right;
}

@media (max-width: 999px) {
    #content { width: 100%; }
    #content .columns { flex-direction: column; }
    #content .column { width: 100%; margin-top: 1em; }    
}

