body {
    font-family: Arial;
}

#content {
    width: 85%;
    margin: 2em auto;
}

#content .columns { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

#content .column { 
    width: 31.5%;
}

#content .stretch { 
    width: 100%; 
    display: inline-block; 
    font-size: 0; 
    line-height: 0; 
}

#content .right {
    font-size: inherit;
    display: block;
    float: right;
}

#content table {
    width: 100%;
    margin-top: 1em;
    font-size: 24px;
    border-collapse: collapse;
}

@media (max-width: 1199px) {
    #content { width: 740px; }
    #content .columns { flex-direction: column; }
    #content .column { width: 50%; margin: 0 auto; margin-top: 1em; }    
}

@media (max-width: 760px) {
    #content { width: 85%; min-width: 200px; margin: 0 auto; font-size: 20px; }
    #content .columns { font-size: inherit; }
    #content .column { width: 100%; }
    #content table { margin-top: 2em; font-size: 7px; }
}

@media (max-width: 500px) {
    #content { font-size: 18px; }
}
