#content {
    width: 960px;
    margin: 2em auto; 
}

#content .columns { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content .column { 
    width: 31%;
    background-color: #DDD; 
}

#content .stretch { 
    width: 100%; 
    display: inline-block; 
    font-size: 0; 
    line-height: 0; 
}

@media (max-width: 959px) {
    #content { width: 100%; }
    #content .columns { flex-direction: column; }
    #content .column { width: 100%; margin-top: 1em; }    
}

