<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
        <script type="text/javascript" src="{% static "api.js" %}"></script>
        <script type="text/javascript">

        </script>
    </head>
    <body>
        <div id="content">
            <div class="columns">
                <div class="columns">
			<div class="column column-left">
				<span class="left">Current time</span> <span id="clock" class="right">00:00:00</span><br>
				<span class="left">Until next match</span> <span id="countdown" class="right">00:00</span><br>
				<span class="left">Competition delay</span> <span id="delay" class="right">0m</span><br>
			</div>
			<div class="column column-middle">
				<span class="left">Upcoming alliance</span> <span id="alliance" class="right">0, 0, 0</span><br>
				<span class="left">Upcoming opposition</span> <span id="opposition" class="right">0, 0, 0</span><br>
				<span class="left">Upcoming color</span> <span id="color" class="right">None</span><br>
			</div>
			<div class="column column-right">
				<span class="left">Match record</span> <span id="record" class="right">0-0-0</span><br>
				<span class="left">Ranking points</span> <span id="points" class="right">0</span><br>
				<span class="left">Competition rank</span> <span id="rank" class="right">0</span><br>
			</div>
		</div>
            </div>
        </div>
    </body>
</html>
